/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Bangers');
@import url('https://fonts.googleapis.com/css?family=Oxygen');
.banner {
    background-image: url("../img/textura.png");
    margin: 0;
    align-content: center;
}
.banner__title, .banner__subtitle {
    color: #2E3B46;
    line-height: 120%;
    text-align: center;
}
.banner__title{
    font-family: "Bangers";
    font-size: 30pt;
    margin: 0;
    padding-top: 40px;
}
.banner__subtitle {
    font-family: "Oxygen";
    font-size: 18pt;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}
.banner__paragraph, .banner__ul, .banner__ol {
    font-family: "Oxygen";
    font-size: 14pt;
    font-weight: 100;
    margin: 0;
}
.separator{
    margin-bottom: 20px;
    margin-left: 40%;
}
.bold {
    font-weight: bold;
}
.left{
    text-align: left;
}
.center{
    text-align: center;
}
.banner__img {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.textura{
    background-image: url("../img/textura.png");
    margin: 0;
}
.banner--manati {
    padding: 0;
    margin: 0;
    background-color: #2E3B47;
}
.banner--manati__paragraph {
    color: #FFFFFF;
    font-family: "Oxygen", sans-serif;
    font-size: 18px;
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 40px;
    line-height: 30px;
    margin-bottom: 0;
}
.banner--manati__img {
    padding-left: 30px;
    padding-top: 20px;
    width: 300px;
}
.banner--conocimiento {
    background-color: #A0EEDA;
}
.banner--conocimiento__block{
    background-color: #CFF7ED; 
    padding: 20px;
}
.banner--drupalcamp {
    background-color: #FBF9C7;
}
.banner--drupalcamp__block{
    background-color: #F7F4B0;
    padding: 20px;
}
.banner--drupalcamp__paragraph {
    margin: 0;
}
.banner--educacion {
    background-color: #8FDFF1;
}
.banner--education__block{
    background-color: #97ECFF;
    text-align: center;
    padding: 20px;
}
.banner--fellowship {
    background-color: #E2FCFF;
}
.banner--fellowship .separator,
.banner--clientes .separator{
    margin-top: 20px;
}
.banner--fellowship__img{
    margin-left: 0;
    margin-top: -450px;
    padding-left: 0;
    width: 100%;
}
.banner--clientes {
    background-color: #FDFDFD;   
}
.banner--clientes__logos{
    padding-left: 20px;
    width: 360px;
    margin: 0;
}
.banner--clientes__logos{
    margin: 0;
    flex-direction: column;
}
.banner--cliente--bg__logo {
    background-color: #e6e6e6; 
    background-image: url("../img/textura.png");
    height: 120px;
    width: 320px;
    margin-bottom: 10px;
}
.banner--clientes__logo {
    margin-left: 30px;
    height: 80px;
    width: 80%;
    padding-top: 20px;
}
.logo--cuadrado{
    margin-left: 120px;
    height: 80px;
    width: 80px;
}
.logo--semicuadrado{
    height: 80px;
    width: 140px;
    margin-left: 95px;
}
.banner--accesibilidad {
    background-color: #7D5B92;
    color: #FFFFFF;
}
.banner--accesibilidad__block {
    background-color:  #75518C;
    text-align: center;
    padding: 20px; 
}
.light{
    font-weight: 100;
}
.white {
    color: #FFFFFF;
}
.banner--sectorpublico {
    background-color: #B1ECDB;
}
.banner--sectorpublico__block{
    background-color: #CFF7ED;
    margin: 0;
    padding: 20px;
}
.banner--talleres {
    background-color: #FBF9C7;
}
.banner--talleres__block {
    background-color: #F7F4B0;
    margin: 0;
    padding: 20px;
}
.banner--modulos {
    background-color: #8FDFF1;
}
.banner--contribuciones {
    background-color: #E2FCFF;
}
.banner--contribuciones__block {
    padding-top: 100px;
    padding-left: 60px;
    padding-right: 90px;
    padding-bottom: 30px;
}
.banner__bg__img {
    background-position: 0px 0px;
    background-size: 100%;
    background-image: url("../img/contribu/contribu.png");
    background-repeat: no-repeat;
}
.banner--cancion {
    background-color: #FFD4E9;  
}
.banner--pasantias {
    background-color: #E2FCFF;
}
.banner--pizza{
    background-color: #A0EEDA;
}
.banner--pizza__img, .banner--cafe__img{
    width: 100%;
    margin-top: -250px;
}
.banner--salud{
    background-color: #FBF8CC;
}
.banner--salud__block {
    background-color: #F7F4B0;
    margin: 0;
    padding: 20px;
}
.banner--dota {
    background-color: #A0DDEE;
}
.banner--copa {
    background-color: #E7FBFE;
}
.banner--cafe {
    background-color: #F8D6E8;
}
.banner--futuro{
    background-color: #785E8F;
}
.banner--futuro__img {
    padding: 0;
    width: 80%;
}