/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Bangers');
@import url('https://fonts.googleapis.com/css?family=Oxygen');

@media (max-width : 1200px) {
    .banner__container{
        margin: 0;
    }
}
@media (min-width:1205px) {
    .banner__container{
        margin-left: 5%;
        margin-right: 5%;
    }
}
@media (min-width:1400px) {
    .banner__container{
        margin-left: 10%;
        margin-right: 10%;
    }
}
.banner {
    background-image: url("../img/textura.png");
    margin: 0;
    align-content: center;
    padding: 60px 100px;
}
.banner__block {
    padding: 30px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}
.banner__container{
    max-width: 1200px;
}
.banner__row {
    display: flex;
}
.banner__title, .banner__subtitle {
    color: #2E3B46;
    line-height: 120%;
    text-align: center;
}
.banner__title{
    font-family: "Bangers";
    font-size: 50pt;
    margin: 0;
}
.banner__subtitle {
    font-family: "Oxygen";
    font-size: 18pt;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}
.banner__paragraph, .banner__ul, .banner__ol {
    font-family: "Oxygen";
    font-size: 14pt;
    font-weight: 100;
    line-height: 120%;
    margin: 0;
}
.font-12 {
    font-size: 12pt;
}
.font-14{
    font-size: 14pt;
}
.separator{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 47%;
}
.left-align{
    padding-left: 90px;
}
.bold {
    font-weight: bold;
}
.left{
    text-align: left;
}
.center{
    text-align: center;
}
.banner__img {
    position: relative;
    margin-top: 60px;
    padding-left: 20%;
    max-width: 60%; 
}
.textura{
    background-image: url("../img/textura.png");
    margin: 0;
}
.space{
    letter-spacing: 1px;
}
.col-1 {
    width: 50%;
}
.col-2 {
    margin-left: 50px;
    width: 50%;
}
.banner--manati {
    background-color: #2E3B47;
    display: flex;
    padding: 100px;
}
.banner--manati__paragraph {
    color: #FFFFFF;
    font-family: "Oxygen", sans-serif;
    font-size: 22px;
    margin-left: 50px;
    margin-top: 225px;
}
.banner--manati__img {
    padding: 0;
    display: flex;
    width: 600px;
    max-height: 500px;
    max-width: 50%;
}

.banner--conocimiento {
    background-color: #A0EEDA;
}
.banner--conocimiento__block{
    background-color: #CFF7ED; 
}
.banner--drupalcamp {
    background-color: #FBF9C7;
}
.banner--drupalcamp__block{
    background-color: #F7F4B0;
}
.banner--drupalcamp__paragraph, .banner--educacion__paragraph {
    margin: 0;
}
.banner--educacion {
    background-color: #8FDFF1;
}
.banner--education__block{
    background-color: #97ECFF;
    text-align: center;
    margin-left: 300px;
    margin-right: 300px;
}
.banner--fellowship {
    background-color: #E2FCFF;
}
.banner--fellowship__img{
    margin-left: 0;
    margin-top: -450px;
    padding-left: 0;
    width: 100%;
}
.banner--clientes {
    background-color: #FDFDFD;   
}
.banner--clientes__logos{
    display: flex;
    flex-direction: row;
}
.banner--cliente--bg__logo {
    background-color: #e6e6e6; 
    background-image: url("../img/textura.png");
    height: 190px;
    width: 350px;
    margin-right: 10px;
    margin-bottom: 20px;
}
.banner--clientes__logos{
    margin-left: 70px;
    display: flex;
    flex-direction: row;
}
.banner--cliente--bg__logo {
    background-color: #e6e6e6; 
    background-image: url("../img/textura.png");
    height: 190px;
    width: 300px;
    margin-right: 10px;
    margin-bottom: 20px;
}
.banner--clientes__logo {
    height: 80px;
    width: 200px;
    margin-top: 55px;
    margin-left: 50px;
    padding: 0;
}
.logo--cuadrado{
    margin-left: 115px;
    height: 80px;
    width: 80px;
}
.logo--semicuadrado{
    height: 80px;
    width: 140px;
    margin-left: 80px;
}
.banner--accesibilidad {
    background-color: #7D5B92;
    color: #FFFFFF;
}
.banner--accesibilidad__block {
    background-color:  #75518C;
    text-align: center;
}
.space{
    margin-bottom: 16pt;
}
.light{
    font-weight: 100;
}
.white {
    color: #FFFFFF;
}
.banner--sectorpublico {
    background-color: #B1ECDB;
}
.banner--sectorpublico__block{
    background-color: #CFF7ED;
    margin-left: 30%;
    margin-right: 30%;
}
.banner--talleres {
    background-color: #FBF9C7;
}
.banner--talleres__block {
    background-color: #F7F4B0;
    margin-left: 30%;
    margin-right: 30%;
}
.banner--modulos {
    background-color: #8FDFF1;
}
.banner--contribuciones {
    background-color: #E2FCFF;
}
.banner--contribuciones__block {
    padding-top: 100px;
    padding-left: 60px;
    padding-right: 90px;
    padding-bottom: 30px;
}
.banner__bg__img {
    background-position: 0px 0px;
    background-size: 100%;
    background-image: url("../img/contribu/contribu.png");
    background-repeat: no-repeat;
}
.banner--cancion {
    background-color: #FFD4E9;  
}
.banner--pasantias {
    background-color: #E2FCFF;
}
.banner--pizza{
    background-color: #A0EEDA;
}
.banner--pizza__img, .banner--cafe__img{
    width: 100%;
    margin-top: -250px;
}
.banner--salud{
    background-color: #FBF8CC;
}
.banner--salud__block {
    background-color: #F7F4B0;
    margin-left: 30%;
    margin-right: 30%;
    padding: 30px;
}
.banner--dota {
    background-color: #A0DDEE;
}
.banner--copa {
    background-color: #E7FBFE;
}
.banner--cafe {
    background-color: #F8D6E8;
}
.banner--futuro{
    background-color: #785E8F;
}
.banner--futuro__img {
    padding: 0;
    margin-left: -100px;
    width: 80%;
}