/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Bangers');
@import url('https://fonts.googleapis.com/css?family=Oxygen');

@media screen and (min-width: 1024px) {
    .banner__container{
        max-width: 1200px;
        margin: auto;
    }
    .banner__block {
        max-width: 60%;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
    }
    .banner__img {
        margin-top: 60px;
        padding-left: 20%;
        max-width: 60%; 
    }
    .banner--manati__paragraph{
        padding-left: 20px;
        margin-top: 20%
    }
    .logo--cuadrado{
        height: 80px;
        width: 80px;
    }
    .logo--semicuadrado{
        height: 80px;
        width: 140px;
    }
    .banner--cliente--bg__logo {
        height: 190px;
        width: 295px;
        margin-right: 10px;
        margin-bottom: 20px;
        margin: 0 auto;
    }
    .banner--talleres__block,
    .banner--sectorpublico__block,
    .banner--salud__block{
        max-width: 40%;
    }
    .banner--clientes__logos{
        padding-bottom: 50px;
    }
    .banner--contribuciones__block{
        width: 100%;
    }
    #contribuciones-paragraph1,
    #contribuciones-paragraph2 {
        padding-top: 40px;
    }
    #contribuciones-paragraph1 {
        margin-left: -60px;
    }
    #contribuciones-paragraph2 {
        padding-left: -20px;
    }
}
@media (max-width: 980px) {
    .banner{
        max-width: 980px;
    }
    .banner__block {
        max-width: 60%;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
    }
    .banner--manati__paragraph{
        padding-left: 20px;
        margin-top: 20%;
    }
    .banner--clientes__logos{
        padding-bottom: 50px;
    }
}
@media (max-width: 768px) {
    .banner{
        max-width: 768px;
    }
    .banner__block {
        max-width: 60%;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
    }
}

@media (max-width: 480px){
    .banner{
        max-width: 480px;
    }
    .banner__block {
        padding: 30px;
        box-shadow: 0px;
        border-radius: 0px;
    }
}

/* General Seetings */
.banner {
    background-image: url("../img/textura.png");
    margin: 0;
}
.banner__block{
    min-height: 100px;
    padding: 40px;
    margin: auto;
    justify-content: center;
}
.banner__title, .banner__subtitle {
    color: #2E3B46;
    line-height: 120%;
    text-align: center;
}
.banner__title{
    font-family: "Bangers";
    font-size: 30pt;
    margin: 0;
    padding: 20px;
    padding-top: 40px;
}
.banner__subtitle {
    font-family: "Oxygen";
    font-size: 18pt;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}
.banner__paragraph, .banner__ul, .banner__ol {
    font-family: "Oxygen";
    font-size: 14pt;
    font-weight: 100;
    margin: 0;
}
.banner__row {
    display: flex;
    margin: auto;
    justify-content: center;
}
.space{
    letter-spacing: 1px;
}
.separator{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 20px;
}
.bold {
    font-weight: bold;
}
.left{
    text-align: left;
}
.center{
    text-align: center;
}
.banner__img {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.textura{
    background-image: url("../img/textura.png");
    margin: 0;
}
.col-1 {
    width: 40%;
}
.col-2 {
    margin-left: 10%;
    width: 40%;
}
.light{
    font-weight: 100;
}
.white {
    color: #FFFFFF;
}
.space-up{
    margin-top: 20px;
    margin-bottom: 20px;
}
/*  END General Settings */

/* Colors */
.banner--manati{
    padding:20px;
    background-color: #2E3B47;
    display: flex;
}
.banner--manati__paragraph{
    color: #FFFFFF;
    font-family: "Oxygen", sans-serif;
    font-size: 18px;
    line-height: 30px;
    max-width: 80%;
}
.banner--manati__img{
    max-width: 80%;
    margin: 0 auto;
    height: 300px;
}
.banner--conocimiento {
    background-color: #A0EEDA;
}
.banner--conocimiento__block{
    background-color: #CFF7ED;
    margin:auto;
}
.banner--drupalcamp {
    background-color: #FBF9C7;
}
.banner--drupalcamp__block{
    background-color: #F7F4B0;
    margin:auto;
}
.banner--drupalcamp__paragraph{} 
.banner--educacion{}
.banner--educacion__paragraph{}
.banner--educacion {
    background-color: #8FDFF1;
}
.banner--education__block{
    background-color: #97ECFF;
    margin:auto;
}
.banner--fellowship {
    background-color: #E2FCFF;
}
.banner--clientes {
    background-color: #FDFDFD;   
}
.banner--clientes__logos{
    padding-left: 20px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.banner--cliente--bg__logo {
    display:flex;
    justify-items: center;
    background-color: #e6e6e6; 
    background-image: url("../img/textura.png");
    height: 120px;
    width: 280px;
    margin: 0 auto;
    margin-bottom: 10px;
}
.banner--clientes__logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
    height: 80px;
    width: 80%;
    padding-top: 20px;
}
.logo--cuadrado{
    height: 80px;
    width: 80px;
}
.logo--semicuadrado{
    height: 80px;
    width: 140px;
}

.banner--accesibilidad {
    background-color: #7D5B92;
    color: #FFFFFF;
}
.banner--accesibilidad__block {
    background-color:  #75518C;
    text-align: center;
    padding: 20px; 
    margin:auto;
}

.banner--sectorpublico {
    background-color: #B1ECDB;
}
.banner--sectorpublico__block{
    background-color: #CFF7ED;
    margin:auto;
}
.banner--talleres {
    background-color: #FBF9C7;
    margin:auto;
}
.banner--talleres__block {
    background-color: #F7F4B0;
    margin: auto;
    padding: 20px;
}
.banner--modulos {
    background-color: #8FDFF1;
}
.banner--contribuciones {
    background-color: #E2FCFF;
    padding-bottom: 50px;
}
.banner--cancion {
    background-color: #FFD4E9;  
}
.banner--pasantias {
    background-color: #E2FCFF;
}
.banner--pizza{
    background-color: #A0EEDA;
}

.banner--salud{
    background-color: #FBF8CC;
}
.banner--salud__block {
    background-color: #F7F4B0;
    margin: auto;
    padding: 20px;
}
.banner--dota {
    background-color: #A0DDEE;
}
.banner--copa {
    background-color: #E7FBFE;
}
.banner--cafe {
    background-color: #F8D6E8;
}
.banner--futuro{
    background-color: #785E8F;
}


.banner--contibuciones__bg{
    background-image: url("../img/contribu/badge1.png"),url("../img/contribu/badge3.png"),url("../img/contribu/badge2.png");
    background-position: top center, bottom left, left;
    background-repeat: no-repeat, no-repeat,repeat-y;
    background-size: 100%, 97%, 97%;
}

/* .banner--contibuciones__bg{
    background-image: url("../img/contribu/badge1.png"),
    url("../img/contribu/badge2.png"),
    url("../img/contribu/badge3.png");
    background-repeat: no-repeat, repeat-y, no-repeat;
    background-size: cover;
    background-position: center;
} */
